.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-container {
  padding: 10px;
}

.input-username, .input-pw {
  padding: 20px;
  font-size: 2rem;
}

.submit-button {
  margin: 10px;
}

.btn {
  padding: 20px;
  background-color: white;
  font-size: 1rem;
  border: solid 1px;
  width: 100px;
  height: 45px;
}